body {
    background-color: #000;
}
h1, h2, h3, p, pre, label {
    color: #FFF;
}
img.tile {
    z-index: 1;
}
img.pin {
    position: absolute;
    z-index: 2;
}
.debughidden {
    display: none;
}
.online {
    opacity: 1;
}

.offline {
    opacity: 0.5;
    filter: grey;
}
div.viewport {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 85%;

    border-style: dotted;
    border-width: 1px;
    border-color: #FFF;

    position: relative;
}
div.pinholder {
    overflow: hidden;

}

span.error {
    color: #F00;
}
span.info {
}
span.debug {
    color: #00F;
}
span.text {
    color: #FFF;
}

